name: "Hello Workflow"
on: [workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Setup Redis
        uses: redislabs/redis-action@v1
        with:
          version: 'latest'
      - name: Run  Redis Benchmark
        run: |
          redis-benchmark -h localhost -p 6379 -n 10000